h1
{
    color:burlywood;
    font-size: 7vw;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
}

table
{
    border-collapse: collapse; 
    width: 70%;
    margin-left:15%;
}

th, td
{ 
    border-bottom: 1px solid #ddd;
    width:10%;
    height: 7vw;
    font-family: Georgia;
}

th
{
    text-align: center;
}

td
{
    text-align: left;
    vertical-align: top;
    
}

td:hover {background-color:#f5f5f5;}

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: whitesmoke;
}

li
{
    float:left;
}

li a, .dropbtn
{
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia;
}

.active
{
    color:black;
}

li:hover a, .dropdown:hover
{
    color:black;
    background-color:palevioletred;
    opacity:0.8;
    font-weight: bold;
}

.dropcontent 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropcontent a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropcontent a:hover 
{
    background-color: palevioletred; 
    opacity:0.6;
}

.dropdown:hover .dropcontent 
{
    display: block;
}

#login, #register
{
    float:right;
}